html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  background: var(--background);
  color: var(--text-tint-0);
}

.ant-table-cell strong {
  color: #111;
}

.ant-table-cell strong.name {
  display: flex;
  overflow: hidden;
}

.ant-table-cell strong.total {
  font-weight: 900;
  color: #000;
}
