html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  background: var(--background);
  color: var(--text-tint-0);
}

.ant-table-cell strong,
.ant-table-cell .strong {
  font-weight: 700;
  color: #111;
}

.ant-table-cell strong.name {
  display: flex;
  overflow: hidden;
}

.ant-table-cell strong.total {
  font-weight: 900;
  color: #000;
}

.ant-table-cell .tag {
  display: inline-block;
  padding: 0 7px;
  /*  */
  background-color: #d1d5db;
  border: 1px solid #9ca3af;
  border-radius: 4px;
}
